.container {
  width: 100%;
  padding: 80px 16px;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-main-text);
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 64px;
}
.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (width >= 688px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
}
.cardItem {
  @media (width >= 688px) {
    margin-bottom: 0px;
    margin: 10px;
  }
}

.cardItem:not(:last-child) {
  margin-bottom: 16px;
}
